.main
{
    border: solid rgb(175, 169, 169) 1px;
    display: flex;
    width: 700px;
    margin-left: 380px;
    border-radius: 30px;
    margin-top: 60px;
    box-shadow: 10px 20px 10px 5px rgb(157, 157, 157);
}
.inputfield{
    margin-top: 50px;

}
.image{
    height: 310px;
    width: 400px;
    border-radius:30px ;
    margin-top: 19px;
    
}
.title{
    margin-left: 620px;
    font-family:'Times New Roman', Times, serif;
    color: blue;
    margin-top: 30px;
}
.inputfield label{
margin-top: 20px;
    margin-left: 20px;
}
.inputfield input{
    margin-left:20px;
}
